---
import Layout from "../layouts/Layout.astro";

import AllProjects from '../components/Projects.astro';
import Header from "../components/Header.astro";
---

<Layout title="Portafolio de Leonel Enrique Silvera Desarrollador y Programador web">
    <Header page="project"/>
    <main class="mx-auto max-w-4xl pt-28">
        <section>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-9 px-5 md:px-5">
                <AllProjects 
                    classes="flex-col" 
                    wcalc="w-auto" 
                    flexboxArticle="flex-col gap-5" 
                    textCenter="text-center"
                    pills="justify-center"
                >
                </AllProjects>
            </div>
        </section>
    </main>
</Layout>

<style>
    body::-webkit-scrollbar {
		width: 8px;
	}

	body::-webkit-scrollbar-track {
		background: #111;
		border-radius: 8px;
	}

	body::-webkit-scrollbar-thumb {
		background: linear-gradient(180deg, rgb(173, 70, 255));
		border-radius: 10px;
		transition: background 0.2s linear;
	}
</style>