<li {...Astro.props} class="mb-2 flex items-center list-skill transition-all duration-300">
    <span class="inline-block w-1.5 h-1.5 mr-2 rounded-full bg-emerald-400"></span>
    <p><slot /></p>
</li>